{% extends "../base/base_barangay.html" %}
{% block title %}Report | Case {% endblock %}
{% load static %}
{% block styles %}
<link href='https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css' rel='stylesheet'>

<style>
    .dataTables_wrapper .dataTables_length {
        float: left;
    }
    
    .dataTables_wrapper .dataTables_paginate {
        float: right;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="pt-5">Case</h1>
    <div class="row mt-4">
        <div class="col-3">
            <div class="input-group search-keyword">
                <input type="number" name="keyword" id="keyword" placeholder="Search Case Number" class="form-control">
                <button class="btn btn-outline-secondary background-color-green" type="button"><i class='bx bx-search-alt'></i></button>
            </div>
        </div>
        <div class="form-group col-3">
            <select name="case_type" id="case_type" class="form-select me-md-2">
                <option value="">All Case Type</option>
                <option value="Impacted">Impacted Victim</option>
                <option value="Behalf">Behalf of Impacted Victim</option>
            </select>
        </div>
        <div class="form-group col-3">
            <select name="service" id="service" class="form-select me-md-2">
                <option value="">All Service</option>
                <option value="Rescue">Crisis Intervention Including Rescue</option>
                <option value="Issuance">Issuance / Enforcement of Barangay Protection Order</option>
            </select>
        </div>
        <div class="form-group col-3">
            <select name="status" id="status" class="form-select me-md-2">
                <option value="">All Status</option>
                <option value="Active">Active</option>
                <option value="Closed">Closed</option>
            </select>
        </div>
    </div>
    
    <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
        <table class="table table-hover" id="table-case">
          <thead class="border-bottom border-dark border-2 border-opacity-50">
            <tr>
              <th scope="col">Case Number</th>
              <th scope="col">Type of Case</th>
              <th scope="col">Service</th>
              <th scope="col">Status</th>
              <th scope="col">Date Added</th>
              <th class="text-center" scope="col">View</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr class="border-bottom border-2">
              <th>001</th>
              <td>Impacted</td>
              <td>Issuance</td>
              <td>Active</td>
              <td>09/10/23</td>
              <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
            </tr>
            <tr class="border-bottom border-2">
                <th>001</th>
                <td>Impacted</td>
                <td>Issuance</td>
                <td>Active</td>
                <td>09/10/23</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
            </tr>
            <tr class="border-bottom border-2">
                <th>001</th>
                <td>Impacted</td>
                <td>Issuance</td>
                <td>Active</td>
                <td>09/10/23</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
            </tr>
            <tr class="border-bottom border-2">
                <th>002</th>
                <td>Behalf</td>
                <td>Issuance</td>
                <td>Active</td>
                <td>09/10/23</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
            </tr>
            <tr class="border-bottom border-2">
                <th>003</th>
                <td>Impacted</td>
                <td>Rescue</td>
                <td>Active</td>
                <td>09/10/23</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
            </tr>
            <tr class="border-bottom border-2">
                <th>001</th>
                <td>Impacted</td>
                <td>Issuance</td>
                <td>Closed</td>
                <td>09/10/23</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
            </tr>
            <tr class="border-bottom border-2">
                <th>001</th>
                <td>Impacted</td>
                <td>Issuance</td>
                <td>Closed</td>
                <td>09/10/23</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
            </tr>
            <tr class="border-bottom border-2">
                <th>001</th>
                <td>Impacted</td>
                <td>Issuance</td>
                <td>Closed</td>
                <td>09/10/23</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
            </tr>
          </tbody>
        </table><!--end of table-->
    </div><!--end of div of table-->
</div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#table-case').DataTable({
            dom: 'Brt <"bottom"lp>',
            responsive: true,
            fixedHeader: true,
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });

        // Your filter options and search functionality
        $('input#keyword').on('input', function(e){
            var status = $(this).val();
            $('#table-case').DataTable().columns([0]).search(status).draw();
        });
        $('select#case_type').on('change', function(e){
            var status = $(this).val();
            $('#table-case').DataTable().columns([1]).search(status).draw();
        });
        $('select#service').on('change', function(e){
            var status = $(this).val();
            $('#table-case').DataTable().columns([2]).search(status).draw();
        });
        $('select#status').on('change', function(e){
            var status = $(this).val();
            $('#table-case').DataTable().columns([3]).search(status).draw();
        });
    });
</script>
{% endblock scripts %}