<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a class="text-decoration-none text-cust-color" href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a class="text-decoration-none text-cust-color" href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a class="text-decoration-none text-cust-color" href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a class="text-decoration-none text-cust-color" href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bx bxl-facebook-circle fs-3 text-cust-color"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bx bxl-twitter fs-3 text-cust-color"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bx bxl-instagram fs-3 text-cust-color"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>