{% extends "../base/base_admin.html" %}
{% block title %}Manage | Account {% endblock %}
{% load static %}
{% block styles %}
<link href='https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css' rel='stylesheet'>
<link href='https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<div class="container-fluid pb-4">
    <div class="row d-flex justify-content-between">
        <div class="col-auto">
            <h1>Account</h1>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add_account"><i class="bx bx-plus"></i> Add Account</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6 mb-lg-0 mb-3 ">
            <div class="input-group search-keyword">
                <input type="text" name="keyword" id="keyword" placeholder="Search Name" class="form-control">
                <button class="btn btn-outline-secondary background-color-green" type="button"><i class='bx bx-search-alt'></i></button>
            </div>
        </div>
        <div class="form-group col-lg-6 mb-lg-0 mb-3 ">
            <select name="status" id="status" class="form-select me-md-2">
                <option value="">All Status</option>
                <option value="Active">Active</option>
                <option value="Close">Close</option>
            </select>
        </div>
    </div>

    <div class="pt-4">
        <table class="table table-striped nowrap" id="table-account" style="width:100%">
            <thead class="border-bottom border-dark border-2 border-opacity-50">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date Added</th>
                    <th class="text-center" scope="col">View</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>Cruz, Juan Dela</td>
                    <td>staff@gmail.com</td>
                    <td>Active</td>
                    <td>Date Added</td>
                    <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
                </tr>

            </tbody>
        </table>
    </div><!--end of div of table-->
</div>
<!-- Add the toast container to your HTML, make sure it's placed in a suitable location -->
<div class="toast-container position-fixed top-0 end-0 p-3 text-light">
    <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark" style="background-color:#899499;">
            <img src="{% static 'img/ecs-no-bg-2.png' %}" class="rounded me-2" alt="..." style="width:20px;">
            <strong class="me-auto text-dark">Success</strong>
            <small>Just Now</small>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark">
        </div>
    </div>
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark" style="background-color:#899499;">
            <img src="{% static 'img/ecs-no-bg-2.png' %}" class="rounded me-2" alt="..." style="width:20px;">
            <strong class="me-auto text-dark">Error</strong>
            <small>Just Now</small>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark">
        </div>
    </div>
</div>
<!-- Modal add case -->
<div class="modal fade" id="add_account" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header  border-bottom ">
                <h5 class="modal-title">Add Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="add_account_form" action="{% url 'add_new_case' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="status_account" value="Active">
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" >
                        <label for="email">Email</label>
                    </div>
                    <div class="row d-flex justify-content-start align-items-center ps-1">
                        <div class="col-4">
                            <h5>Type of Case:</h5>
                        </div>
                        <div class="col">
                            <div class="d-grid">
                                <input type="radio" class="btn-check btn-check-update" name="case_type" value="Impacted" id="Impacted" autocomplete="off" data-status="Impacted" checked>
                                <label class="btn btn-outline-primary mx-2" for="Impacted">Impacted</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-grid">
                                <input type="radio" class="btn-check btn-check-update" name="case_type" value="Behalf" id="Behalf" autocomplete="off"  data-status="Behalf">
                                <label class="btn btn-outline-primary" for="Behalf">Behalf</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row d-flex align-items-center ps-1">
                        <div class="col-4">
                            <h5>Type of Service:</h5>
                        </div>
                        <div class="col-4">
                            <div class="d-grid">
                                <input type="radio" class="btn-check btn-check-update btn-block" name="service_type" value="crisis" id="crisis" autocomplete="off" data-status="crisis" checked>
                                <label class="btn btn-outline-primary mx-2" for="crisis">Crisis</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="d-grid">
                                <input type="radio" class="btn-check btn-check-update btn-block" name="service_type" value="issuance" id="issuance" autocomplete="off"  data-status="issuance">
                                <label class="btn btn-outline-primary" for="issuance">Issuance</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-top">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="addCaseBtn">Add Case</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#table-account').DataTable({
            dom: 'Brt <"bottom"lp>',
            responsive: true,
            fixedHeader: true,
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            //order: [[4, 'desc']],
            order: [[0, 'desc']],
        });

        // Your filter options and search functionality
        $('input#keyword').on('input', function(e){
            var status = $(this).val();
            $('#table-account').DataTable().columns([0]).search(status).draw();
        });
        $('select#status').on('change', function(e){
            var status = $(this).val();
            $('#table-account').DataTable().columns([2]).search(status).draw();
        });
    });
</script>
{% endblock scripts %}