{% extends "../base/base_admin.html" %}
{% block title %}Report | Graph Report{% endblock %}
{% load static %}
{% block styles %}
<link href='https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css' rel='stylesheet'>
<link href='https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css' rel='stylesheet'>
<link href='https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css' rel='stylesheet'>

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-12"><h1 class="mt-2">Report</h1></div>
        <div class="col-lg-2 col-12"><button class="btn btn-primary" id="sendreportbtn"> Send Report </button></div>
    </div>
    
    <div class="pt-3">
        <h2>SUMMARY</h2>
    </div>
      <input type="hidden" class="email" name="email" value="{{ account.user.email }}">
    <!--table-->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
                <table class="table table-hover">
                    <tbody>
                        <tr class="border-bottom border-2">
                            <th>Total of cases filed</th>
                            <th>{{ total_cases }}</th>
                        </tr>
                        <tr class="border-bottom border-2">
                            <th>Total number of Active Cases</th>
                            <th>{{ total_active }}</th>
                        </tr>
                        <tr class="border-bottom border-2">
                            <th>Total number of Close Cases</th>
                            <th>{{ total_closed }}</th>
                        </tr>
                    </tbody>
                </table><!--end of table-->
            </div><!--end of div of table-->
        </div><!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
                <table class="table table-hover">
                <tbody>
                    <tr class="border-bottom border-2">
                        <th>Total number of Victims</th>
                        <th>{{ total_victim }}</th>
                    </tr>
                    <tr class="border-bottom border-2">
                        <th>Total number of Perpetrators</th>
                        <th>{{ total_perpetrator }}</th>
                    </tr>
                </tbody>
                </table><!--end of table-->
            </div><!--end of div of table-->
        </div><!--end of col-->
    </div><!--end of row-->
    <div class="d-none row pt-3">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="start_date" name="start_date" placeholder="name@example.com">
                <label for="start_date">Start Date</label>
            </div>
        </div><!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="end_date" name="end_date" placeholder="name@example.com">
                <label for="end_date">End Date</label>
            </div>
        </div><!--end of col-->
    </div><!--starting of row-->
    <!--table-->
    <div class="pt-4">
        <table class="table table-striped nowrap" id="table-case" style="width:100%">
            <thead class="border-bottom border-dark border-2 border-opacity-50">
                <tr>
                    <th scope="col" class="text-center">Case Number</th>
                    <th scope="col">Type of Case</th>
                    <th scope="col">Service</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date Added</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for case in cases %}
                <tr class="border-bottom border-2">
                    <td class="text-center">{{ case.case_number }}</td>
                    <td>
                        {% if case.type_of_case == 'Impacted' %}
                            Impacted
                        {% elif case.type_of_case == 'Behalf' %}
                            Behalf of Impacted Victim
                        {% endif %}
                    </td>
                    <td>
                        {% if case.service_information == 'crisis' %}
                            Crisis Intervention Including Rescue
                        {% elif case.service_information == 'issuance' %}
                            Issuance / Enforcement of Barangay Protection Order
                        {% endif %}
                    </td>
                    <td>{{ case.status }}</td>
                    <td>{{ case.date_added|date:"m/d/Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>No cases found</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!--end of div of table-->
</div>
<!-- Add the toast container to your HTML, make sure it's placed in a suitable location -->
<div class="toast-container position-fixed top-0 end-0 p-3 text-light">
    <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark" style="background-color:#899499;">
            <img src="{% static 'img/ecs-no-bg-2.png' %}" class="rounded me-2" alt="..." style="width:20px;">
            <strong class="me-auto text-dark">Success</strong>
            <small>Just Now</small>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark">
        </div>
    </div>
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-dark" style="background-color:#899499;">
            <img src="{% static 'img/ecs-no-bg-2.png' %}" class="rounded me-2" alt="..." style="width:20px;">
            <strong class="me-auto text-dark">Error</strong>
            <small>Just Now</small>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark">
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    $( document ).ready(function() {
        let dataTable = $('#table-case').DataTable({
            dom: 'Brt <"bottom"lp>',
            responsive: true,
            fixedHeader: true,
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        });

        $('#sendreportbtn').click(function() {
            console.log('i got clicked')
            let email = document.querySelector('.email').value;
            $.ajax({
                type: 'POST',  // Assuming you want to send data via POST method
                url: '{% url 'send_email_report' %}',  // Replace with the URL to send the report
                data: {
                    'email' : email ,
                    'total_cases' : {{ total_cases }} ,
                    'total_active_cases' : {{ total_active }},
                    'total_closed_cases' : {{ total_closed }},
                    'total_victims' : {{ total_victim }},
                    'total_perpetrators' : {{ total_perpetrator }},
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token using Django's template syntax
                },
                success: function(response) {
                    // Handle the success response here
                    console.log('Report sent successfully!');
                },
                error: function(xhr, status, error) {
                    // Handle any errors that occur during the AJAX request
                    console.error('Error sending report:', error);
                }
            });
        });


    });
    

</script>
{% endblock scripts %}