{% extends "../base/base_admin.html" %}
{% block title %}Manage | Passkeys{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <h1 class="pt-2">Passkeys</h1>


    <div class="container">
        <h2>Pending Passkey Requests</h2>
        <div class="table-responsive"> <!-- Add this div to make the table responsive -->
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th> <!-- Add a column for actions -->
                    </tr>
                </thead>
                <tbody>
                    {% for passkey in request %}
                    <tr>
                        <td class="email" >{{ passkey.email }}</td>
                        <td >{{ passkey.status }}</td>
                        <td >{{ passkey.date }}</td>
                        <td>
                            <a class="btn btn-success approve" href="#">Approve</a> <!-- Add Bootstrap button classes -->
                            <a class="btn btn-danger decline" href="#">Decline</a> <!-- Add Bootstrap button classes -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

</div>
{% endblock content %}
{% block scripts %}
<script>
    console.log('tite')


    let tableParent = document.querySelector("table")

    console.log(tableParent)

    tableParent.addEventListener("click", function(e) {
        if (e.target.classList.contains("approve")) {
            let element = e.target
            let email = element.closest('tr').querySelector(".email").textContent
            let action = 'approve'

            $.ajax({
                url: '{% url 'update_passkey'  %}', // Modify the URL to point to your Django view endpoint
                method: 'POST',
                data: {
                    'action': action,
                    'email': email  // Pass the notification ID as data
                },
                headers: {
                  'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token using Django's template syntax
                },
                success: function(response) {
                    location.reload();
                    console.log('Notification marked as read');
                    // You can perform any additional actions here after the notification is marked as read
                },
                error: function(xhr, status, error) {
                    console.error('Error marking notification as read:', error);
                }
              });

        }
        if (e.target.classList.contains("decline")) {
            let element = e.target
            let email = element.closest('tr').querySelector(".email").textContent
            let action = 'decline'

            $.ajax({
                url: '{% url 'update_passkey'  %}', // Modify the URL to point to your Django view endpoint
                method: 'POST',
                data: {
                    'action': action,
                    'email': email  // Pass the notification ID as data
                },
                headers: {
                  'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token using Django's template syntax
                },
                success: function(response) {
                    location.reload();
                    // You can perform any additional actions here after the notification is marked as read
                },
                error: function(xhr, status, error) {
                    console.error('Error marking notification as read:', error);
                }
              });
        }
    })

















</script>
{% endblock scripts %}